<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %}<title>Chinook Expeditions</title>{% endblock %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<script type="text/javascript" href="{% static 'app.js' %}"></script>
</head>
<body>
	<ul id="nav">
		<li><a href="#">Home</a></li>
		<li><a href="#">Why Us</a></li>
		<li><a href="{% url 'trips:rivers' %}">Trips</a></li>
		<li><a href="#">Photo Gallery</a></li>
		<li><a href="#">River School</a></li>
		<li><a href="#">Shop</a></li>
	</ul>
	<div id="content">
	{% block content %}
		<!-- webpage context -->
	{% endblock %}
	</div>
	<div class="footer-menu">
		<div id="canoe">
			<h4>Canoe Trips</h5>
			<ul>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</div>
		<div id="rafting">
			<h4>River Rafting</h5>
			<ul>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</div>
		<div id="guideTraining">
			<h4>Guide Training</h5>
			<ul>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>